
body {
  width:100vw;
  height:100vh;
  overflow:hidden;
  margin:0px;
  padding:0px;
  background-color:#453e47;
}

#canvas {
  position:absolute;
  top:0%;
  left:0%;
  width:100%;
  height:100%;
}
